<button type="button" class="btn btn-primary"
style="margin-top: 40px;margin-left: 10px;"
routerLink="">Back to analysis page</button>

<ul class="list-group">
    <li *ngFor = "let item of ingredientsList"class="list-group-item">
        <span>Food : {{item.food ? item.food: '-'}}</span>
        <br>
        <span>Quantity : {{item.quantity ? item.quantity: '-'}}</span>
        <br>
        <span>Unit : {{item.unit ? item.unit: '-'}}</span>
        <br>
        <span>Calories : {{item.calories ? item.calories: '-'}}</span>
        <br>
        <span>Weight : {{item.totalWeight ? item.totalWeight: '-'}}</span>
    </li>
  </ul>

  <button type="submit"
  style="display:flex; margin: 0 auto"
  class="btn btn-success"
  (click)="getTotalNutrition()">Total Nutrition
  </button>


  <ul class="list-group" *ngIf = "showNutritionDaily && !showLowQualityMessage">
    <li class="list-group-item">
        <h3>Calories {{totalDaily.calories ? totalDaily.calories: '-'}}</h3>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.FAT.label}}</span> {{totalDaily.totalNutrients.FAT.quantity}}{{totalDaily.totalNutrients.FAT.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.FAT.quantity | number}} {{totalDaily.totalDaily.FAT.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.CHOLE.label}}</span> {{totalDaily.totalNutrients.CHOLE.quantity}}{{totalDaily.totalNutrients.CHOLE.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.CHOLE.quantity | number}} {{totalDaily.totalDaily.CHOLE.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.NA.label}}</span> {{totalDaily.totalNutrients.NA.quantity}}{{totalDaily.totalNutrients.NA.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.NA.quantity | number}} {{totalDaily.totalDaily.NA.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.CHOCDF.label}}</span> {{totalDaily.totalNutrients.CHOCDF.quantity}}{{totalDaily.totalNutrients.CHOCDF.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.CHOCDF.quantity | number}} {{totalDaily.totalDaily.CHOCDF.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.PROCNT.label}}</span> {{totalDaily.totalNutrients.PROCNT.quantity}}{{totalDaily.totalNutrients.PROCNT.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.PROCNT.quantity | number}} {{totalDaily.totalDaily.PROCNT.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.VITC.label}}</span> {{totalDaily.totalNutrients.VITC.quantity}}{{totalDaily.totalNutrients.VITC.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.VITC.quantity | number}} {{totalDaily.totalDaily.VITC.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.CA.label}}</span> {{totalDaily.totalNutrients.CA.quantity}}{{totalDaily.totalNutrients.CA.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.CA.quantity | number}} {{totalDaily.totalDaily.CA.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.FE.label}}</span> {{totalDaily.totalNutrients.FE.quantity}}{{totalDaily.totalNutrients.FE.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.FE.quantity | number}} {{totalDaily.totalDaily.FE.unit}}</span>
    </li>
    <li class="list-group-item">
        <span class="mr-3"><span class="strong">{{totalDaily.totalNutrients.K.label}}</span> {{totalDaily.totalNutrients.K.quantity}}{{totalDaily.totalNutrients.K.unit}}</span>
        <span><span class="strong">Daily Value</span> {{totalDaily.totalDaily.K.quantity | number}} {{totalDaily.totalDaily.K.unit}}</span>
    </li>
  </ul>

  <div class="alert alert-danger" style = "margin:25px auto; width: 50%;" role="alert" *ngIf ="showLowQualityMessage">
    This is a danger alert—check it out!
  </div>