h1 {
    text-align: center;
    color: #008000;
    margin-block:50px
}
.row {
    display: flex;
    justify-content: center;
}
textarea{ height: 250px;}
button{
    width: 100%;
}

button:hover {
    cursor:not-allowed
 }

 .units{
     font-size: 13px;
     font-weight: bold;
 }